{# add.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1 class="page-header">Create a new user</h1>

    <p class="lead">Welcome to use our services. We hope that you kindly fill
        out the following information so that we can be of service to you in a
        best possible manner. Thanks!</p>

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_user_create'), 'method': 'POST'}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.emailaddress, 'Email Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.emailaddress) }}
        <div class="col-sm-10">
            {{ form_widget(form.emailaddress, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.password, 'Password', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.password) }}
        <div class="col-sm-10">
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.avatarurl, 'Avatar', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.avatarurl) }}
        <div class="col-sm-10">
            {{ form_widget(form.avatarurl, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.nickname, 'Nickname', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.nickname) }}
        <div class="col-sm-10">
            {{ form_widget(form.nickname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.frontname, 'First name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.frontname) }}
        <div class="col-sm-10">
            {{ form_widget(form.frontname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.familyname, 'Family name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.familyname) }}
        <div class="col-sm-10">
            {{ form_widget(form.familyname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.roleid, 'Role', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.roleid) }}
        <div class="col-sm-10">
            {{ form_widget(form.roleid, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.address) }}
        <div class="col-sm-10">
            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.selfdescription, 'Description', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.selfdescription) }}
        <div class="col-sm-10">
            {{ form_widget(form.selfdescription, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.dateadded, 'Date Added', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.dateadded) }}
        <div class="col-sm-10">
            {{ form_widget(form.dateadded, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.active, 'Is the user account active?', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.active) }}
        <div class="col-sm-10">
            {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}