{# create.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1 class="page-header">Create a new user</h1>

    <p class="lead">Welcome to use our services. We hope that you kindly fill
        out the following information so that we can be of service to you in a
        best possible manner. Thanks!</p>

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_user_create'), 'method': 'POST'}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.emailAddress, 'Email Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.emailAddress) }}
        <div class="col-sm-10">
            {{ form_widget(form.emailAddress, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.password, 'Password', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.password) }}
        <div class="col-sm-10">
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.imageUrl, 'Avatar', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.imageUrl) }}
        <div class="col-sm-10">
            {{ form_widget(form.imageUrl, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.nameNick, 'Nickname', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.nameNick) }}
        <div class="col-sm-10">
            {{ form_widget(form.nameNick, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.nameFirst, 'First name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.nameFirst) }}
        <div class="col-sm-10">
            {{ form_widget(form.nameFirst, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.nameLast, 'Family name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.nameLast) }}
        <div class="col-sm-10">
            {{ form_widget(form.nameLast, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.idRole, 'Role', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.idRole) }}
        <div class="col-sm-10">
            {{ form_widget(form.idRole, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.address) }}
        <div class="col-sm-10">
            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-10">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">

        {{ form_errors(form.dateAdded) }}
        <div class="col-sm-10">
            {{ form_widget(form.dateAdded, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">

        {{ form_errors(form.timeAdded) }}
        <div class="col-sm-10">
            {{ form_widget(form.timeAdded, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.active, 'Is the user account active?', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.active) }}
        <div class="col-sm-10">
            {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}