{# create.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    {# This happens when user forgets password, if it happens,
    and then requests new one. #}

{% endblock %}