{# login.html.twig #}

{% extends '::loginTemplate.html.twig' %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">User:</label>
    <input id="username" type="text" name="_username" value="{{ last_username }}" />
    <label for="password">Password:</label>
    <input id="password" type="password" name="_password" /> <input type="submit" name="login" />
</form>