{# result.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Coverpage related stylesheet from Assetic. -->
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{# @TODO This page should be split to several different pages. #}

{% block container %}

    <h1 class="page-header">Public Profiles</h1>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
        </div>

        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd><img src="{{ avatar }}" style="height: 128px;" class="media-object" alt="User doesn't have avatar."></dd>
                <dt>Username</dt>
                <dd>{{ user.username }}</dd>
                <dt>Description</dt>
                <dd><p class="leading">{{user.description}}</p></dd>
                <dt>Member Since</dt>
                <dd>{{ user.createdat|date('d.m.Y') }}</dd>
                <dt>Role</dt>
                <dd>
                    {% if user.userrole.role == 'ROLE_ADMIN' %}
                        Administrator
                    {% elseif user.userrole.role == 'ROLE_PILOT' %}
                        Pilot
                    {% elseif user.userrole.role == 'ROLE_USER'%}
                        User
                    {% else %}
                        This account doesn't have a role.
                    {% endif %}
                </dd>
                <dt>Active</dt>
                <dd>
                    {% if user.active == 1 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</dd>
            </dl>
        </div>
    </div>
    {% if user.userrole.role == 'ROLE_PILOT' or user.userrole.role == 'ROLE_ADMIN' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Latest three flights by this pilot</h3>
            </div>
            <div class="panel-body">

                <table class="table table-responsive table-striped">

                    <thead>
                        <tr>
                            <th>Departure</th>
                            <th>Destination</th>
                            <th>Date of Departure</th>
                            <th>Date of Arrival</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flightroute in flightroutes %}
                            <tr>
                                <td>{{ flightroute.departureLocation }}</td>
                                <td>{{ flightroute.destinationLocation }}</td>
                                <td>{{ flightroute.departureDate |date('d.m.Y') }} {{ flightroute.departureTime | date('H:i') }}</td>
                                <td>{{ flightroute.destinationDate |date('d.m.Y') }} {{ flightroute.destinationTime | date('H:i') }}</td>
                                <td>{{ flightroute.description | striptags | truncate(20) }}</td>
                                <td>
                                    <a class="btn btn-default" href="{{ path('lamk_private_pilot_flight_show', { 'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-info-sign"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>            
            </div>
        </div>                    
    {% endif %}
{% endblock %}
