{# signup.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}
    <h1 class="page-header">Welcome to Private Pilot!</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign up</h3>
        </div>
        <div class="panel-body">
            <p class="lead">Welcome to use our services. We hope that you kindly fill
                out the following information so that we can be of service to you in a
                best possible manner. Thanks!</p>

            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_user_create'), 'method': 'POST'}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.username, 'Username', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.username) }}
                <div class="col-sm-10">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.emailAddress, 'Email Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.emailAddress) }}
                <div class="col-sm-10">
                    {{ form_widget(form.emailAddress, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.password.password, 'Password', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.password.password) }}
                <div class="col-sm-10">
                    {{ form_widget(form.password.password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.password.confirm, 'Confirm Password', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.password.confirm) }}
                <div class="col-sm-10">
                    {{ form_widget(form.password.confirm, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}