{# avatar.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Coverpage related stylesheet from Assetic. -->
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}

    <h1 class="page-header">Profile</h1>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Upload Avatar</h3>
        </div>
        <div style="padding: 10px;">

            {{ form(form) }}                

            <hr />

            <p>Please note that the image you upload will be resized. Avatar images on profile pages will be a size of 128 pixels wide with a maximum height of 128 pixels.</p>

        </div>

    </div>

{% endblock %}