{# empty Twig template #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h2 class="sub-header">Airplanes</h2>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Manufacturing Year</th>
            <th>Country</th>
            <th>Serial Number</th>
            <th>TTAF</th>
            <th>Picture</th>
            <th>Number of Seats</th>
            <th>Date added</th>
            <th>Description</th>
        </tr>
        {% for plane in planes %}
            <tr>
                <td>{{ plane.id }}</td>
                <td>{{ plane.airplanemodel }}</td>
                <td>{{ plane.airplanemanufacturingdate }}</td>
                <td>{{ plane.airplanecountry }}</td>
                <td>{{ plane.airplaneserialnumber }}</td>
                <td>{{ plane.airplanettaf }}</td>

                {% if plane.idimage is not null %}
                    <td>{{ plane.file.url | raw }}</td>
                {% else %}
                    <td>No image available</td>
                {% endif %}

                <td>{{ plane.numberofseatsavailable }}</td>
                <td>{{ plane.dateadded | date('d.m.Y') }}</td>
                <td>{{ plane.description | striptags | truncate(100) }}</td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}