{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1>What does the Private Pilot do?</h1>

    <hr/>

    <p class="lead">Private Pilot is a project which tries to connect private pilots to people who want to fly straight into the places where big airlines don't take passengers.</p>

    <h2>History</h2>

    <p>Veli kulta, veikkoseni, kaunis kasvinkumppalini! Lähe nyt kanssa laulamahan, saa kera sanelemahan yhtehen yhyttyämme, kahta'alta käytyämme! Harvoin yhtehen yhymme, saamme toinen toisihimme näillä raukoilla rajoilla, poloisilla Pohjan mailla.</p>

    <h2>Business</h2>

    <p>Lyökämme käsi kätehen, sormet sormien lomahan, lauloaksemme hyviä, parahia pannaksemme, kuulla noien kultaisien, tietä mielitehtoisien, nuorisossa nousevassa, kansassa kasuavassa: noita saamia sanoja, virsiä virittämiä vyöltä vanhan Väinämöisen, alta ahjon Ilmarisen, päästä kalvan Kaukomielen, Joukahaisen jousen tiestä, Pohjan peltojen periltä, Kalevalan kankahilta.</p>

    <h2>Testimonials</h2>

    <p>Over the time we have collected a wide range of testímonials from various members of the press and our customers.</p>

    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>




{% endblock %}