{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1>Help</h1>

    <hr/>

    <p>This is the help / customer support portal portion of the private pilot someday.</p>

    <ul>
        <li>Topic</li>
        <li>Topic</li>
        <li>Topic</li>
        <li>Topic</li>
        <li>Topic</li>
        <li>Topic</li>
        <li>Topic</li>
    </ul>

    <p>More information</p>

{% endblock %}
