{% extends '::adminTemplate.html.twig' %}

{% block container %}
    <h2 class="sub-header">Add User</h2>

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_admin_user_add'), 'method': 'POST'}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.username, 'Nickname', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.username) }}
        <div class="col-sm-10">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.emailaddress, 'Email Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.emailaddress) }}
        <div class="col-sm-10">
            {{ form_widget(form.emailaddress, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.password.password, 'Password', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.password.password) }}
        <div class="col-sm-10">
            {{ form_widget(form.password.password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.password.confirm, 'Confirm Password', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.password.confirm) }}
        <div class="col-sm-10">
            {{ form_widget(form.password.confirm, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {#
        <div class="form-group">
            {{ form_label(form.avatarurl, 'Avatar', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.avatarurl) }}
            <div class="col-sm-10">
                {{ form_widget(form.avatarurl, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


    <div class="form-group">
        {{ form_label(form.firstname, 'First name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.firstname) }}
        <div class="col-sm-10">
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.lastname, 'Family name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.lastname) }}
        <div class="col-sm-10">
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    #}

    <div class="form-group">
        {{ form_label(form.user_role, 'Role', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.user_role) }}
        <div class="col-sm-10">
            {{ form_widget(form.user_role, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {#
        <div class="form-group">
            {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.address) }}
            <div class="col-sm-10">
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    #}
    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-10">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {#
        <div class="form-group">
            {{ form_label(form.dateadded, 'Date Added', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.dateadded) }}
            <div class="col-sm-10">
                {{ form_widget(form.dateadded, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    #}
    <div class="form-group">
        {{ form_label(form.active, 'Is the user account active?', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.active) }}
        <div class="col-sm-10">
            {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}