{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <h1 class="page-header">Information about {{user.username}}</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
        </div>

        <div class="panel-body">

            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_admin_user_edit', {'id': user.id }), 'method': 'POST'}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.emailaddress, 'Email Address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.emailaddress) }}
                <div class="col-sm-4">
                    {{ form_widget(form.emailaddress, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.username, 'Username', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.username) }}
                <div class="col-sm-4">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.user_role, 'Role', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.user_role) }}
                <div class="col-sm-4">
                    {{ form_widget(form.user_role, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.description) }}
                <div class="col-sm-4">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.active, 'Is the user account active?', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.active) }}
                <div class="col-sm-1">
                    {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
