{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <h2 class="sub-header">Users</h2>

    <div class="btn-toolbar" role="toolbar">

        <a class="btn btn-default" href="{{ path('lamk_private_pilot_admin_user_add') }}" role="button">Create new user</a>

    </div>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
        </div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Date Added</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('lamk_private_pilot_admin_user_edit', {'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.emailaddress }}</td>
                    <td>{{ user.userrole }}</td>
                    <td>{{ user.createdat|date('d.m.Y H:i') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="pull-right">
        <ul class="pagination">

            <li><a href="{{ path('lamk_private_pilot_admin_user', {'page': previouspage }) }}">&laquo;</a></li>

            {% for link in links %}

                <li><a href="{{ path('lamk_private_pilot_admin_user', {'page': link }) }}">{{ link }}</a></li>

            {% endfor %}

            <li><a href="{{ path('lamk_private_pilot_admin_user', {'page': nextpage }) }}">&raquo;</a></li>

        </ul>
    </div>

{% endblock %}
