{# ::settingsTemplate.html.twig #}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block meta %}

            {{ include('::meta.html.twig') }}

        {% endblock %}

        {% block favicon %}

            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        {% endblock %}

        <title>{% block title %}Private Pilot: Test Application{% endblock %}</title>

        {% block stylesheets %}

            {# Bootstrap #}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

            {# Combine assets that are needed for this page into a single file and serve it. #}
            {% stylesheets '@LamkPrivatePilotBundle/Resources/css/settings.css' filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" />

            {% endstylesheets %}

            {# HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries. #}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% endblock %}

    </head>

    <body>
        {% block body %}

            {{ include('::navbar.html.twig') }}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar">
                            <li><a href="{{ path('lamk_private_pilot_admin') }}">Dashboard</a></li>
                            {#<li><a href="{{ path('lamk_private_pilot_admin_style') }}">Style</a></li>
                            <li><a href="#">Timezone</a></li>
                            <li><a href="#">Language</a></li>#}
                        </ul>
                        <ul class="nav nav-sidebar">
                            <li><a href="{{ path('lamk_private_pilot_admin_user') }}">Users</a></li>
                            <li><a href="{{ path('lamk_private_pilot_admin_role')}}">User Roles</a></li>
                        </ul>
                        <ul class="nav nav-sidebar">
                            <li><a href="#">Flight Routes</a></li>
                            <li><a href="{{ path('lamk_private_pilot_admin_airport')}}">Airports</a></li>
                        </ul>
                        <ul class="nav nav-sidebar">
                            <li><a href="{{ path('lamk_private_pilot_admin_airplane') }}">Airplanes</a></li>
                        </ul>
                        <ul class="nav nav-sidebar">
                            <li><a href="{{ path('lamk_private_pilot_admin_order') }}">Orders</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                        {#<h1 class="page-header">Settings</h1>#}

                        {% block container %}

                        {% endblock %}

                    </div>
                </div>
            </div>

            {% block javascripts %}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

                {% javascripts '@LamkPrivatePilotBundle/Resources/js/*' %}

                <script type="text/javascript" src="{{ asset_url }}"></script>

                {% endjavascripts %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
