{# ::bootstrapTemplate.html.twig #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Private Pilot: Symfony 2 Application{% endblock %}</title>

        {% block meta %}
            {{ include('::meta.html.twig') }}
        {% endblock %}

        {% block favicon %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% endblock %}

        {% block stylesheets %}

            {# Bootstrap #}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

            {# JQueryUI CSS #}
            <link href="{{ asset('css/ui-lightness/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" />

            {# Combine assets that are needed for this page into a single file and serve it. #}
            {% stylesheets '@LamkPrivatePilotBundle/Resources/css/settings.css' filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" />

            {% endstylesheets %}

            {# HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries. #}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

            {% block navbar %}
                {{ include('::navbar.html.twig') }}
            {% endblock %}

            <div class="container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Success!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Info!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Warning!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>Danger!</strong> {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block container %}
                    <div class="starter-template">
                        {% block startertemplate %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div><!-- /.container -->

            {% block javascripts %}

                {# jQuery (necessary for Bootstraps JavaScript plugins) #}
                <script src="{{ asset('js/jquery.js') }}"></script>

                {# Include all JavaScripts, compiled by Assetic #}
                <script src="{{ asset('js/bootstrap.js') }}"></script>

                {# Assetic collects everything and then combines them into something weird. #}
                {% javascripts '@LamkPrivatePilotBundle/Resources/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}

            {% endblock %}
        {% endblock %}
    </body>
</html>
