{# ::loginTemplate.html.twig #}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block meta %}

            {{ include('::meta.html.twig') }}

        {% endblock %}

        {% block favicon %}

            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        {% endblock %}

        <title>{% block title %}Private Pilot: Login Template{% endblock %}</title>

        {% block stylesheets %}

            {# Bootstrap #}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

            {# Combine assets that are needed for this page into a single file and serve it. #}
            {% stylesheets  '@LamkPrivatePilotBundle/Resources/css/coverpage.css'
                            '@LamkPrivatePilotBundle/Resources/css/signin.css' filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" />

            {% endstylesheets %}

            {# HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries. #}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% endblock %}

    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                {% block navbar %}

                    {{ include('::navbar.html.twig') }}

                {% endblock %}

                <div class="cover-container">

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error.message }}
                        </div>
                    {% endif %}

                    {% block container %}

                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h3 class="">Please login</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-signin" role="form" action="{{ path('lamk_private_pilot_login_check') }}" method="post">

                                    <input id="username" name="_username" value="{{ last_username }}" type="text" class="form-control" placeholder="Username" required autofocus>

                                    <input id="password" name="_password" type="password" class="form-control" placeholder="Password" required>

                                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                    <label for="remember_me">Keep me logged in</label>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                                </form>

                                {#<a href="{{ path('lamk_private_pilot_forgotten_password') }}" style="color:blue;">Click here if you forgot your password.</a>#}
                            </div>
                        </div>

                    {% endblock %}

                </div>
            </div>
        </div> <!-- /container -->
    </body>
</html>
