{# ::meta.html.twig #}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Private Pilot is a web service to connect private pilots with travelers">
<meta name="author" content="Private Pilot">