{# ::profilenavbar.html.twig #}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked admin-menu">

        {% block nav_profile %}<li><a href="{{ path('lamk_private_pilot_profile') }}"><i class="fa fa-home fa-fw"></i>Profile</a></li>{% endblock %}

        {% block nav_profile_messages %}<li><a href="{{ path('lamk_private_pilot_profile_messages') }}"><i class="fa fa-list-alt fa-fw"></i>Messages</a></li>{% endblock %}

        {% block nav_profile_history %}<li><a href="{{ path('lamk_private_pilot_profile_history') }}"><i class="fa fa-calendar fa-fw"></i>Order History</a></li>{% endblock %}

        {% if is_granted('ROLE_PILOT') %}

            {% block nav_profile_routes %}<li><a href="{{ path('lamk_private_pilot_profile_routes') }}"><i class="fa fa-book fa-fw"></i>Routes</a></li>{% endblock %}

        {% endif %}

        {% block nav_profile_settings %}<li><a href="{{ path('lamk_private_pilot_profile_settings') }}"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>{% endblock %}
    </ul>
</div>
