{# list.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1 class="page-header">Order History</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Flight Route</th>
                    <th>Seats Reserved</th>
                    <th>Order Date</th>
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.idflightroute }}</td>
                        <td>{{ order.numberofreservedseats }}</td>
                        <td>{{ order.orderdate | date("d-m-Y") }}</td>
                        <td>{{ order.idorderpaymentmethod }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}