{# payment.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <ol class="breadcrumb" style="padding-top: 10px;">

        {# @todo Figure out on what page user was and create correct link to that page. #}

        <li><a href="{{ path('lamk_private_pilot_flight', {'page': 1}) }}">Flight Routes</a></li>
        <li>Additional Details</li>
        <li class="active">Payment Details</li>
    </ol>

    <h1 class="page-header">Payment Details</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Inspect Order Details</h3>
        </div>
        <div class="panel-body">

            <p>Please inspect flight details, personal details, and fill in your payment information.</p>

            <h3>Chosen flight</h3>

            <table class="table">
                <tr>
                    <th>Flight Number</th>
                    <th>Pilot</th>
                    <th>Plane</th>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Date of Departure</th>
                    <th>Date of Arrival</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>{{ flight.id }}</td>
                    <!-- @TODO Fetch Pilot name here. -->
                    <td>{{ pilot.firstname }}&nbsp;{{ pilot.lastname }}</td>
                    <!-- @TODO Fetch Pilot's plane model here. -->
                    <td>{{ flight.airplane.airplanemodel }}</td>
                    <td>{{ flight.departureLocation }}</td>
                    <td>{{ flight.destinationLocation }}</td>
                    <td>{{ flight.departureDate |date('d.m.Y') }} {{ flight.departureTime | date('H:i') }}</td>
                    <td>{{ flight.destinationDate |date('d.m.Y') }} {{ flight.destinationTime | date('H:i') }}</td>
                    <td><span style="font-size: 20px;font-weight: normal;">{{ flight.price }}&nbsp;€</span></td>
                </tr>
            </table>

            <h3>Customer Personal Information</h3>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Line 1</th>
                    <th>Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postcode</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>{{ customer.firstname }}&nbsp;{{ customer.lastname }}</td>
                    <td>{{ customer.line1 }}</td>
                    <td>{{ customer.line2 }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.postalcode }}</td>
                    <td>{{ customer.countrycode }}</td>
                </tr>
            </table>

            <h3>Customer Payment Information</h3>
            <div>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
