{# success.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <ol class="breadcrumb" style="padding-top: 10px;">

        {# @todo Figure out on what page user was and create correct link to that page. #}

        <li>Flight Routes</li>
        <li>Flight Details</li>
        <li>Order Details</li>
        <li class="active">Success</li>
    </ol>

    <h1 class="page-header">Order successfully received</h1>
    <h3 class="sub-header">Thank you!</h3>
    <p>Your order has been successfully received by our website. We wish you a pleasant flight to your destination.</p>

{% endblock %}