{# src/Lamk/PrivatePilotBundle/Resources/views/Flight/create.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1 class="page-header">Create a new flight route</h1>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New Flight Route</h3>
        </div>
        <div style="padding: 10px;">

            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_flight_create'), 'method': 'POST'}) }}
            {#{{ form_enctype(form) }}#}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.name, 'Name', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.name) }}
                <div class="col-sm-10">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div>

            <div class="form-group">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.description) }}
                <div class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.numberOfSeats, 'Available Seats', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.numberOfSeats) }}
                <div class="col-sm-10">
                    {{ form_widget(form.numberOfSeats, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.expiresat, 'Expire Date', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.expiresat) }}
                <div class="col-sm-10">
                    {{ form_widget(form.expiresat, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.departureLocation, 'Location of Departure', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.departureLocation) }}
                <div class="col-sm-10">
                    {{ form_widget(form.departureLocation, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.departureDate, 'Date of Departure', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.departureDate) }}
                <div class="col-sm-10">
                    {{ form_widget(form.departureDate, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.departureTime, 'Time of Departure', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.departureTime) }}
                <div class="col-sm-10">
                    {{ form_widget(form.departureTime, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.destinationLocation, 'Destination location', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.destinationLocation) }}
                <div class="col-sm-10">
                    {{ form_widget(form.destinationLocation, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.destinationDate, 'Date when in destination location', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.destinationDate) }}
                <div class="col-sm-10">
                    {{ form_widget(form.destinationDate, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.destinationTime, 'Time when in destination location', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.destinationTime) }}
                <div class="col-sm-10">
                    {{ form_widget(form.destinationTime, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.price, 'Price', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.price) }}
                <div class="col-sm-10">
                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}