{# src/Lamk/PrivatePilotBundle/Resources/views/Flight/create.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <h1 class="page-header">Create a new flight route</h1>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create Flight Route</h3>
        </div>
        <div style="padding: 10px;">

            {{ form(form) }}                

        </div>
    </div>

{% endblock %}