{# index.html.twig #}

{% extends '::searchTemplate.html.twig' %}

{% block navbarflightroutes %}

    <li class="active"><a href="{{ path('lamk_private_pilot_flight_show') }}">List Flight Routes</a></li>

{% endblock %}

{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li style="margin-left:5%; width: 90%;">
            {{ form_start(form, {'attr': {'role': 'form' }, 'action': path('lamk_private_pilot_search'), 'method': 'POST'})}}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.departure, 'Departure') }}
                {{ form_errors(form.departure) }}
                {{ form_widget(form.departure, {'attr': {'class': 'form-control', 'placeholder': 'Departure'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.destination, 'Destination') }}
                {{ form_errors(form.destination) }}
                {{ form_widget(form.destination, {'attr': {'class': 'form-control', 'placeholder': 'Destination'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.passengers, 'Passengers') }}
                {{ form_errors(form.passengers) }}
                {{ form_widget(form.passengers, {'attr': {'class': 'form-control', 'placeholder': 'Passengers'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.date, 'Date') }}
                {{ form_errors(form.date) }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Date'}}) }}
            </div>

            {{ form_widget(form.search, {'attr': {'class': 'btn btn-default'}}) }}

            {{ form_end(form) }}

        </li>
    </ul>

{% endblock %}


{% block container %}

    <h1 class="page-header">Flight Routes</h1>

    {% if is_granted('ROLE_PILOT') %}
        <div class="btn-toolbar" role="toolbar">
            <a class="btn btn-info" href="{{ path('lamk_private_pilot_flight_create') }}" role="button"><span class="glyphicon glyphicon-plus"></span> Create new route</a>
        </div>

        <br/>

    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Date of Departure</th>
                    <th>Date of Arrival</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for flightroute in flightroutes if flightroute.active %}
                    <tr>
                        <td>{{ flightroute.departureLocation }}</td>
                        <td>{{ flightroute.destinationLocation }}</td>
                        <td>{{ flightroute.departureDate |date('d.m.Y') }} {{ flightroute.departureTime | date('H:i') }}</td>
                        <td>{{ flightroute.destinationDate |date('d.m.Y') }} {{ flightroute.destinationTime | date('H:i') }}</td>
                        <td>{{ flightroute.description | striptags | truncate(40) }}</td>
                        <td><span style="font-size: 15px;font-weight: normal;">{{ flightroute.price }}&nbsp;€</span></td>
                        <td>
                            <a class="btn btn-default" href="{{ path('lamk_private_pilot_flight_show', { 'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;View Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pull-right">
        <ul class="pagination">

            <li><a href="{{ path('lamk_private_pilot_flight', {'page': previouspage }) }}">&laquo;</a></li>

            {% for link in links %}

                <li><a href="{{ path('lamk_private_pilot_flight', {'page': link }) }}">{{ link }}</a></li>

            {% endfor %}

            <li><a href="{{ path('lamk_private_pilot_flight', {'page': nextpage }) }}">&raquo;</a></li>

        </ul>
    </div>
    {% block javascripts %}

        {{ parent() }}

        <script>
            $(function () {

                function unique(list) {
                    var result = [];
                    $.each(list, function (i, e) {
                        if ($.inArray(e, result) === -1)
                            result.push(e);
                    });
                    return result;
                }

                function log(message) {
                    $("<div>").text(message).prependTo("#log");
                    $("#log").scrollTop(0);
                }

                $("#search_date").datepicker({dateFormat: "yy-mm-dd"}); // RFC 3339/ISO 8601

                $("#search_departure").autocomplete({
                    source: "{{ path('lamk_private_pilot_available_departures') }}"
                });

                $("#search_destination").autocomplete({
                    source: "{{ path('lamk_private_pilot_available_destinations') }}"
                });
            });
        </script>

    {% endblock %}

{% endblock %}
