{# result.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block container %}

    <ol class="breadcrumb" style="padding-top: 10px;">
        <li><a href="{{ path('lamk_private_pilot_flight', {'page': 1}) }}">Flight Routes</a></li>
        <li class="active">Flight Details</li>
    </ol>

    <h1 class="page-header">Flight Route Details</h1>

    <div class="pull-right">

        <a href="{{ path('lamk_private_pilot_flight_show', { 'id': flightroute.id }) }}" class="twitter-share-button" data-via="twitter" data-count="none" data-dnt="true">Tweet</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
        </script>

    </div>

    <div class="btn-toolbar" role="toolbar" style="padding-bottom: 20px;">



        {% if is_granted('ROLE_ADMIN') %}
            {#<div class="btn-group">#}

            <a class="btn btn-default" href="{{ path('lamk_private_pilot_flight_update', {'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-edit"></span> Edit this route</a>

            <a class="btn btn-danger" href="{{ path('lamk_private_pilot_flight_delete', {'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-remove"></span> Delete this route</a>

            {#</div>#}
        {% elseif is_granted('ROLE_PILOT') and flightroute.user.id == app.security.getToken().getUser().getID() %}

            <a class="btn btn-default" href="{{ path('lamk_private_pilot_flight_update', {'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-edit"></span> Edit this route</a>

            <a class="btn btn-danger" href="{{ path('lamk_private_pilot_flight_delete', {'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-remove"></span> Delete this route</a>

        {% endif %}



    </div>

    <div style="padding-bottom: 5px;">
        <div class="panel panel-default">

            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">{{ flightroute.name }}</h3>
            </div>
            <div class="panel-body">
                <p class="leading">{{ flightroute.description|raw }}</p>
            </div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Available Seats</th>
                    <th>Pilot</th>
                    <th>Plane</th>
                    <th>Price</th>
                    <th>Added</th>
                    <th>Expires</th>
                </tr>
                <tr>
                    <td><span style="font-style: italic;">{{ flightroute.departurelocation }}</span> <br/> {{ flightroute.departuredate|date('d.m.Y') }}, {{ flightroute.departuretime|date('H:m') }}</td>
                    <td><span style="font-style: italic;">{{ flightroute.destinationlocation }}</span> <br/> {{ flightroute.destinationdate|date('d.m.Y') }}, {{ flightroute.destinationtime|date('H:m') }}</td>
                    <td>
                        {% if flightroute.numberofseats <= 0 %}
                            <p>No seats available.</p>
                        {% else %}
                            {{ flightroute.numberofseats }}
                        {% endif %}
                    </td>
                    <td>

                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pilotModal">
                            {% if flightroutepilot.userpersonalinfo.firstname or flightroutepilot.userpersonalinfo.lastname is not null %}
                                {{ flightroutepilot.userpersonalinfo.firstname }} {{ flightroutepilot.userpersonalinfo.lastname }}
                            {% else %}
                                {{ flightroutepilot.username }}
                            {% endif %}
                        </button>

                        {#<a href="{{ path('lamk_private_pilot_user_show', {'id': flightroute.idpilot }) }}">{{ flightroute.user.firstname }} {{ flightroute.user.lastname }}</a>#}

                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#airplaneModal">
                            {{ flightroute.airplane.airplanemodel }}
                        </button>

                    </td>
                    <td>{{ flightroute.price }}€</td>
                    <td>{{ flightroute.createdat|date('d.m.Y') }}</td>
                    <td>{{ flightroute.expiresat|date('d.m.Y') }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pilotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Details about the pilot</h4>
                </div>
                <div class="modal-body">
                    {% if flightroutepilot.file is not null %}
                        {# @Todo Fix this so that the controller provides the URL in a more direct manner. #}
                        <img src="/media/avatars/{{ flightroutepilot.file.url }}" style="width: 128px; height: 128px;" class="media-object" alt="Avatar"><br/><br/>

                    {% else %}
                        <img style="width: 128px; height: 128px;" class="media-object" alt="Avatar"><br/><br/>
                    {% endif %}
                    Pilot Name:<br/>
                    {{ flightroutepilot.userpersonalinfo.firstname }} {{ flightroutepilot.userpersonalinfo.lastname }}<br/><br/>
                    Pilot Email Address:<br/>
                    {{ flightroute.user.emailaddress }}<br/><br/>
                    Pilot Description:<br/>
                    {{ flightroute.user.description }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>          

    <!-- Modal -->
    <div class="modal fade" id="airplaneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Details about airplane used on this route</h4>
                </div>
                <div class="modal-body">

                    Airplane model:<br/>
                    {{ flightroute.airplane.airplanemodel }}<br/><br/>
                    Airplane description:<br/>
                    {{ flightroute.airplane.description }}<br/><br/>
                    Airplane manufacturing date:<br/>
                    {{ flightroute.airplane.createdat|date('d.m.Y')}}<br/><br/>
                    Airplane manufacturing country:<br/>
                    {{ flightroute.airplane.airplanecountry }}<br/><br/>
                    Airplane serial number:<br/>
                    {{ flightroute.airplane.airplaneserialnumber }}<br/><br/>
                    Airplane ttaf:<br/>
                    {{ flightroute.airplane.airplanettaf }}<br/><br/>
                    {% if flightroute.airplane.idimage is not null %}
                        Airplane image:<br/>
                        {{ flightroute.airplane.file.url }}<br/><br/>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>    

    <div class="pull-right">

        {% if flightroute.numberofseats <= 0 %}

        {% else %}

            {% if is_granted('ROLE_USER') == false %}

                <div class="btn-group">

                    {# @TODO If logged in as a user, then skip the possible login/information phase,
                    and move to order check page, after which move to payment page,
                    and order confirmation page. #}

                    <a class="btn btn-info" href="{{ path('lamk_private_pilot_order_customer', {'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Book this route</a>

                </div>

            {% endif %}

            {% if is_granted('ROLE_USER') %}

                <div class="btn-group">

                    <a class="btn btn-info" href="{{ path('lamk_private_pilot_order_inspect', {'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Book this route</a>

                </div>

            {% endif %}   
        {% endif %}
    </div>

    <h2 class="sub-header">Reviews</h2>

    {% if is_granted('ROLE_USER') %}
        <div style="padding-left: 15px; padding-right: 15px;">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_comment_add'), 'method': 'POST'}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.comment, 'Write a comment:')}}
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}

                {{ form_widget(form.id_user, {value: app.security.getToken().getUser().getID(), 'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.id_thread, {value: flightroute.id, 'attr': {'class': 'form-control'}}) }}

                {# Is the comment a reply to an existing comment? #}
                {{ form_widget(form.id_parent, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="pull-right form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
                {{ form_end(form) }}
            </div>

        </div>

        {#<div class=""></div>#}

        <br />
        <br />

        <hr />
    {% endif %}

    {% if comments is empty %}

        No Reviews have been written.

    {% else %}



        {# If user is logged in as admin then he should be able to see also hidden comments and some administrator tools. #}

        {% if is_granted('ROLE_ADMIN') %}

            <div>
                <ul class="media-list">
                    {% for comment in comments %}

                        <li class="media">
                            <a class="pull-left" href="{{ path('lamk_private_pilot_user_show', {'id': comment.user.id})  }}">
                                {# @Todo This URL should be fixed so that it comes directly from the controller. #}
                                {% if comment.user.file is not null %}
                                    <img src="/media/avatars/{{ comment.user.file.url }}" style="width: 64px; height: 64px;" class="media-object" alt="Avatar">
                                {% else %}
                                    <img style="width: 64px; height: 64px;" class="media-object" alt="Avatar">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><small><a href="{{ path('lamk_private_pilot_user_show', {'id': comment.user.id})  }}">{{ comment.user.username }}</a>&nbsp;-&nbsp;{{ comment.createdat|date('d.m.Y H:i') }}{% if comment.visible is sameas(false)%}&nbsp;-&nbsp;(Hidden){% endif %}</small>

                                    <div class="btn-group">
                                        <a class="btn btn-small" href="{{ path('lamk_private_pilot_admin_comment_delete', {'id': comment.id }) }}" role="button"><span class="glyphicon glyphicon-trash"></span></a>

                                        {% if comment.visible is sameas(false)%}

                                            <a class="btn btn-small" href="{{ path('lamk_private_pilot_admin_comment_unhide', {'id': comment.id }) }}" role="button"><span class="glyphicon glyphicon-ok"></span></a>

                                        {% else %}

                                            <a class="btn btn-small" href="{{ path('lamk_private_pilot_admin_comment_hide', {'id': comment.id }) }}" role="button"><span class="glyphicon glyphicon-remove"></span></a>

                                        {% endif %}

                                    </div>

                                </h4>

                                <p>{{ comment.comment }}</p>

                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        {% else %}

            {# If we aren't admin then we should not be able to see hidden comments or the administrator tools. #}
            <div>
                <ul class="media-list">
                    {% for comment in comments %}

                        {% if comment.visible is sameas(true) %}

                            <li class="media">
                                <a class="pull-left" href="{{ path('lamk_private_pilot_user_show', {'id': comment.user.id})  }}">
                                    {# @Todo This URL should be fixed so that it comes directly from the controller or something. #}
                                    {% if comment.user.file is not null %}
                                        <img src="/media/avatars/{{ comment.user.file.url }}" style="width: 64px; height: 64px;" class="media-object" alt="Avatar">
                                    {% else %}
                                        <img style="width: 64px; height: 64px;" class="media-object" alt="Avatar">
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><small><a href="{{ path('lamk_private_pilot_user_show', {'id': comment.user.id})  }}">{{ comment.user.username }}</a>&nbsp;-&nbsp;{{ comment.createdat|date('d.m.Y H:i') }}</small>

                                    </h4>

                                    <p>{{ comment.comment }}</p>

                                </div>
                            </li>

                        {% endif %}

                    {% endfor %}
                </ul>
            </div>

        {% endif %}

        <div class="pull-right">

            <ul class="pagination">

                <li><a href="{{ path('lamk_private_pilot_flight_show', {'id': flightroute.id, 'page': previouspage }) }}">&laquo;</a></li>

                {% for link in links %}

                    <li><a href="{{ path('lamk_private_pilot_flight_show', {'id': flightroute.id, 'page': link }) }}">{{ link }}</a></li>

                {% endfor %}

                <li><a href="{{ path('lamk_private_pilot_flight_show', {'id': flightroute.id, 'page': nextpage }) }}">&raquo;</a></li>

            </ul>
        </div>

    {% endif %}
    <br />
    <br />
    <br />

    <hr />

    <p class="text-center">Private Pilot &COPY; 2014</p>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(function () {
            var triggers = $(".modalInput").overlay({
                // some mask tweaks suitable for modal dialogs
                mask: {
                    color: '#ebecff',
                    loadSpeed: 200,
                    opacity: 0.9
                },
                closeOnClick: false
            });
        });
    </script>

{% endblock %}

