{# modify.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{# @TODO Form which contains information about the flight route, and ability to
edit that form and submit it. #}

{% block container %}

    <h1 class="page-header">Flight routes</h1>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Flight Route</h3>
        </div>
        <div style="padding: 10px;">

            {{ form(form) }}                

        </div>
    </div>

{% endblock %}