{% extends '::adminTemplate.html.twig' %}

{% block container %}
    <h2 class="sub-header">Dashboard</h2>

    <br />


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ path('lamk_private_pilot_admin_order') }}">Recent Orders</a></h3>
                </div>


                <table class="table table-condensed">
                    <tr>
                        <th>#</th>
                        <th>Flight Route</th>
                        <th>Date placed</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td><a href="{{ path('lamk_private_pilot_flight_show', { 'id': order.idflightroute }) }}">{{ order.flightroute.name }}</a></td>
                            <td>{{ order.createdat | date('d.m.Y H:m') }}</td>
                        </tr>
                    {% endfor %}
                </table>


            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ path('lamk_private_pilot_admin_user') }}">New Users</a></h3>
                </div>

                <table class="table table-condensed">
                    <tr>
                        <th>Username</th>
                        <th>Date Added</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.createdat|date('d.m.Y H:i') }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>  

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>We currently have {{ users_in_total }} users in our service.</li>
                    </ul>                       
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sales</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Currently {{ orders_in_total }} amount of received orders in the system.</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Flight Routes</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>We have {{ flight_routes_in_total }} flight routes logged in our service.</li>
                        <li>Out of those {{ active_flight_routes }} amount are active, and {{ inactive_flight_routes }} are inactive routes.</li>                        
                    </ul>
                </div>
            </div>
        </div>    
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Roles</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>We have {{ customers_in_total }} users which are customers in our service.</li>
                        <li>We have {{ pilots_in_total }} users which are pilots in our service.</li>
                        <li>We have {{ admins_in_total }} users which have rights to manage service.</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>    



    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Comments</h3>
                </div>

                <table class="table table-condensed">
                    <tr>
                        <th>Status</th>
                        <th>Writer</th>
                        <th>Comment</th>                        
                    </tr>
                    {% for comment in comments %}
                        <tr>
                            <td>
                                {% if comment.visible is sameas(true) %}
                                    <span class="label label-success">Visible</span>
                                {% else %}
                                    <span class="label label-default">Hidden</span>
                                {% endif %}
                            </td>
                            <td>{{ comment.user.username }}</td>
                            <td>{{ comment.comment | striptags | truncate(25) }}</td>
                        </tr>
                    {% endfor %}
                </table>




            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">News Items</h3>
                </div>
                <div class="panel-body">

                    <ul>
                        <li>No New Items Found</li>
                    </ul>

                </div>
            </div>
        </div>   

    </div>   
{% endblock %}