{# index.html.twig #}

{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <h2 class="sub-header">Airplanes</h2>

    <div class="btn-toolbar" role="toolbar">

        <a class="btn btn-default" href="{{ path('lamk_private_pilot_admin_airplane_add') }}" role="button">Register new airplane</a> 

    </div>

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Airplanes</h3>
        </div>

        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Model</th>
                <th>Manufacturing Year</th>
                <th>Country</th>
                <th>Serial</th>
                <th>TTAF</th>
                    {#<th>Picture</th>#}
                <th>Number of Seats</th>
                <th>Date added</th>
                <th>Description</th>
            </tr>
            {% for plane in planes %}
                <tr>
                    <td><a href="{{ path('lamk_private_pilot_admin_airplane_edit', {'id': plane.id }) }}">{{ plane.id }}</a></td>
                    <td>{{ plane.airplanemodel }}</td>
                    <td>{{ plane.airplanemanufacturingdate | date('d.m.Y') }}</td>
                    <td>{{ plane.airplanecountry }}</td>
                    <td>{{ plane.airplaneserialnumber }}</td>
                    <td>{{ plane.airplanettaf }}</td>
                    {#% if plane.idimage is not null %}
                        <td><img src="/media/airplanes/{{ plane.file.url | raw }}" style="height: 64px;" class="media-object" alt="Airplane Image"></td>
                        {% else %}
                        <td>No image available</td>
                    {% endif %#}
                    <td>{{ plane.numberofseatsavailable }}</td>
                    <td>{{ plane.createdat | date('d.m.Y') }}</td>
                    <td>{{ plane.description | truncate(50) }}</td>

                </tr>
            {% endfor %}
        </table>

    </div>

    <div class="pull-right">
        <ul class="pagination">

            <li><a href="{{ path('lamk_private_pilot_admin_airplane', {'page': previouspage }) }}">&laquo;</a></li>

            {% for link in links %}

                <li><a href="{{ path('lamk_private_pilot_admin_airplane', {'page': link }) }}">{{ link }}</a></li>

            {% endfor %}

            <li><a href="{{ path('lamk_private_pilot_admin_airplane', {'page': nextpage }) }}">&raquo;</a></li>

        </ul>
    </div>

{% endblock %}

