{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <h2 class="sub-header">Received Orders</h2>

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Orders</h3>
        </div>

        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Flight Route</th>
                <th>Seats Taken</th>
                <th>Seats Available</th>
                <th>Date placed</th>
                <th>Payment Method</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td><a href="{{ path('lamk_private_pilot_flight_show', { 'id': order.idflightroute }) }}">#{{ order.idflightroute }}:&nbsp;{{ order.flightroute.name }}</a></td>
                    <td>{{ order.numberofreservedseats }}</td>
                    <td>{{ order.flightroute.numberofseats }}</td>
                    <td>{{ order.createdat | date('d.m.Y H:i') }}</td>
                    <td>{{ order.paymentmethod.name }}</td>
                </tr>
            {% endfor %}
        </table>


    </div>

    <div class="pull-right">
        <ul class="pagination">

            <li><a href="{{ path('lamk_private_pilot_admin_order', {'page': previouspage }) }}">&laquo;</a></li>

            {% for link in links %}

                <li><a href="{{ path('lamk_private_pilot_admin_order', {'page': link }) }}">{{ link }}</a></li>

            {% endfor %}

            <li><a href="{{ path('lamk_private_pilot_admin_order', {'page': nextpage }) }}">&raquo;</a></li>

        </ul>
    </div>

{% endblock %}