{% extends '::adminTemplate.html.twig' %}

{% block container %}
    <h2 class="sub-header">Add Role</h2>

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}, 'action': path('lamk_private_pilot_admin_role_add'), 'method': 'POST'}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.role, 'New Role', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.role) }}
        <div class="col-sm-10">
            {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.add) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
