{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <h2 class="sub-header">User Roles</h2>

    <div class="btn-toolbar" role="toolbar">
        <a class="btn btn-default" href="{{ path('lamk_private_pilot_admin_role_add') }}" role="button">Create new user role</a>
    </div>

    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Airports</h3>
        </div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Role</th>
            </tr>
            {% for role in roles %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.role }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}