{# airplane.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# Profile related stylesheet from Assetic. #}
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}

    <h1 class="page-header">Profile</h1>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Airplane</h3>
        </div>
        <div style="padding: 10px;">

            {{ form(form) }}

        </div>
    </div>

{% endblock %}