{# history.html.twig #}

{% extends '::profileTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# Profile related stylesheet from Assetic. #}
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}

    <div class="col-md-9 admin-content" id="orders">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order History</h3>
            </div>

            {% if orders is empty %}
                <ul class="media-list" style="margin: 25px;">
                    <p>This user has not yet booked any flights.</p>
                </ul>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Flight Route</th>
                            <th>Reserved Seats</th>
                            <th>Order Date</th>
                            <th>Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><a href="{{ path('lamk_private_pilot_flight_show', { 'id': order.idflightroute }) }}">{{ order.flightroute.departurelocation }}&nbsp;-&nbsp;{{ order.flightroute.destinationlocation }}</a></td>
                                <td>{{ order.numberofreservedseats }}</td>
                                <td>{{ order.createdat | date("d.m.Y H:i") }}</td>
                                <td>
                                    {% if order.idorderpaymentmethod == 1 %}
                                        {# @TODO Link to Paypal Transaction History Number #}
                                        <a href="#">Paypal</a>
                                    {% else %}
                                        {{ order.idorderpaymentmethod }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
