{# messages.html.twig #}

{% extends '::profileTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# Profile related stylesheet from Assetic. #}
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}

    <div class="col-md-9 admin-content" id="messages">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Messages</h3>
            </div>
            {% if comments is empty %}
                <ul class="media-list" style="margin: 25px;">
                    <p>This user has not written any comments or reviews.</p>
                </ul>
            </div>
        {% else %}

            <ul class="media-list" style="margin: 25px;">
                {% for comment in comments %}
                    <li class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><small>Flight Number: <a href="{{ path('lamk_private_pilot_flight_show', {'id': comment.idthread }) }}">{{ comment.idthread }}</a>&nbsp;-&nbsp;{{ comment.createdat|date('d.m.Y H:i') }}</small></h4>
                            <p>{{ comment.comment }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <ul class="pagination" style="margin-left: 25px;">

                <li><a href="{{ path('lamk_private_pilot_profile_messages', {'page': previouspage }) }}">&laquo;</a></li>

                {% for link in links %}

                    <li><a href="{{ path('lamk_private_pilot_profile_messages', {'page': link }) }}">{{ link }}</a></li>

                {% endfor %}

                <li><a href="{{ path('lamk_private_pilot_profile_messages', {'page': nextpage }) }}">&raquo;</a></li>

            </ul>

        {% endif %}
    </div>
</div>

{% endblock %}