{# profile.html.twig #}

{% extends '::profileTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# Profile related stylesheet from Assetic. #}
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}

    <div class="col-md-9 admin-content" id="profile">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    {% if avatar is not null %}
                        <dt></dt>
                        <dd><img src="{{ avatar }}" style="height: 128px; width: 128px;" class="media-object" alt="User doesn't have avatar."></dd>
                        {% endif %}
                    <dt>Name</dt>
                    {% if user.userpersonalinfo.firstname or user.userpersonalinfo.lastname is not null %}
                        <dd>{{ user.userpersonalinfo.firstname }}&nbsp;{{ user.userpersonalinfo.lastname }}</dd>
                    {% else %}
                        <dd>User has not set name.</dd>
                    {% endif %}
                    <dt>Email</dt>
                    <dd>{{ user.emailaddress }}</dd>
                    <dt>Description</dt>
                    <dd><p class="leading">{{user.description}}</p></dd>
                    <dt>Member Since</dt>
                    <dd>{{ user.createdat|date('d.m.Y') }}</dd>

                    <dt>Role</dt>
                    <dd>
                        {% if user.userrole.role == 'ROLE_ADMIN' %}
                            Administrator
                        {% elseif user.userrole.role == 'ROLE_PILOT' %}
                            Pilot
                        {% elseif user.userrole.role == 'ROLE_USER'%}
                            User
                        {% else %}
                            This account doesn't have a role.
                        {% endif %}
                    </dd>

                    <dt>Address</dt>
                    <dd>
                        {% if user.userpersonalinfo.line1 is not null %}
                            <address>
                                {{ user.userpersonalinfo.line1 }}<br/>
                                {% if user.userpersonalinfo.line2 is not empty %}
                                    {{ user.userpersonalinfo.line2 }}<br/>
                                {% endif %}
                                {{ user.userpersonalinfo.city }}<br/>
                                {{ user.userpersonalinfo.countrycode }}
                            </address>
                        {% else %}
                            <p>User has not set address yet. Please, Go to settings and add an address.</p>
                        {% endif %}
                    </dd>
                    <dt>Active</dt>
                    <dd>
                        {% if user.active == true %}
                            Yes
                        {% else %}
                            No
                        {% endif %}</dd>
                </dl>
            </div>
        </div>
    </div>

{% endblock %}

