{# routes.html.twig #}

{% extends '::profileTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# Profile related stylesheet from Assetic. #}
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}
    {% if is_granted('ROLE_PILOT') %}
        <div class="col-md-9 admin-content" id="routes">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Flight Routes</h3>
                </div>

                <div style="margin: 10px;">
                    {% if is_granted('ROLE_PILOT') %}

                        <a class="btn btn-info" href="{{ path('lamk_private_pilot_flight_create') }}" role="button">Create new route</a>

                        <hr />

                    {% endif %}

                    {% if flightroutes is empty %}
                        <ul class="media-list">
                            <p>This pilot has no flight routes that are active.</p>
                        </ul>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Departure</th>
                                        <th>Destination</th>
                                        <th>Date of Departure</th>
                                        <th>Date of Arrival</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for flightroute in flightroutes %}
                                        <tr>
                                            <td>{{ flightroute.departureLocation }}</td>
                                            <td>{{ flightroute.destinationLocation }}</td>
                                            <td>{{ flightroute.departureDate |date('d.m.Y') }} {{ flightroute.departureTime | date('H:i') }}</td>
                                            <td>{{ flightroute.destinationDate |date('d.m.Y') }} {{ flightroute.destinationTime | date('H:i') }}</td>
                                            <td>{{ flightroute.description | striptags | truncate(20) }}</td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path('lamk_private_pilot_flight_show', { 'id': flightroute.id }) }}" role="button"><span class="glyphicon glyphicon-info-sign"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>


            </div>
        </div>
    {% endif %}

{% endblock %}
