{# settings.html.twig #}

{% extends '::profileTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# Profile related stylesheet from Assetic. #}
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/profile.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block container %}
    <div class="col-md-9 admin-content" id="settings">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>
            <div style="padding: 10px;">

                <p>Change your avatar.</p>
                <a href="{{ path('lamk_private_pilot_user_avatar_upload') }}"><div class="btn btn-primary">Edit avatar</div></a>
                <hr />

                <p>Edit your profile related information.</p>
                <a href="{{ path('lamk_private_pilot_profile_update') }}"><div class="btn btn-primary">Edit profile</div></a>
                <hr />

                <p>Change your password.</p>
                <a href="{{ path('lamk_private_pilot_user_change_password') }}"><div class="btn btn-primary">Change Password</div></a>
                <hr />

                <p>Edit your address and other related information.</p>
                <a href="{{ path('lamk_private_pilot_profile_update_address') }}"><div class="btn btn-primary">Edit address</div></a>
                <hr />

                {% if is_granted('ROLE_PILOT') %}

                    <p>It seems you're a pilot. Click "Edit plane" to edit information related to your airplane.</p>
                    <a href="{{ path('lamk_private_pilot_profile_update_airplane') }}"><div class="btn btn-primary">Edit plane</div></a>
                    <hr />

                {% else %}

                    <p>If you're a pilot and want to start offering your services at Private Pilot click "Register as pilot" to submit your application.</p>
                    <a href="{{ path('lamk_private_pilot_license') }}"><div class="btn btn-info">Register as pilot</div></a>
                    <hr />

                {% endif %}

                <br /><br />

                <p>This page is reserved for settings and other important(tm) stuff.</p>
                <br />
                <p>Versio 0.9999-dev</p>
                <p>Private Pilot &copy; 2014</p>

            </div>
        </div>
    </div>
{% endblock %}