{# src/Lamk/PrivatePilotBundle/Resources/views/Default/index.html.twig #}

{% extends '::defaultTemplate.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Coverpage related stylesheet from Assetic. -->
    {% stylesheets '@LamkPrivatePilotBundle/Resources/css/coverpage.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                {% block navbar %}

                    {{ parent() }}

                {% endblock %}

                <div class="panel panel-primary row">
                    <div class="panel-heading col-xs-12">
                        <h3 class="panel-title">Search for a flight</h3>
                    </div>
                    <div class="panel-body col-xs-12">

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-inline', 'role': 'form' }, 'action': path('lamk_private_pilot_search'), 'method': 'POST'})}}
                        {{ form_errors(form) }}

                        <div class="form-group">

                            {{ form_label(form.departure, 'Departure', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_errors(form.departure) }}
                            {{ form_widget(form.departure, {'attr': {'class': 'form-control', 'placeholder': 'Departure'}}) }}

                        </div>

                        <div class="form-group">
                            {{ form_label(form.destination, 'Destination', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_errors(form.destination) }}
                            {{ form_widget(form.destination, {'attr': {'class': 'form-control', 'placeholder': 'Destination'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.passengers, 'Passengers', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_errors(form.passengers) }}
                            {{ form_widget(form.passengers, {'attr': {'class': 'form-control', 'placeholder': 'Passengers'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.date, 'Date', {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_errors(form.date) }}
                            {{ form_widget(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Date'}}) }}
                        </div>

                        {{ form_widget(form.search, {'attr': {'class': 'btn btn-success'}}) }}

                        {{ form_end(form) }}
                    </div>
                    <div class="panel-footer col-xs-12">Choose your destiny!</div>
                </div>
                <div id="test_range">
                    <p class="lead">
                        <!--
                        Test range:<br />
                        Kirjoittaminen! Käyttäjät! Tilaukset!
                        -->
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Where would you like to go today? <span class="glyphicon glyphicon-plane"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}

        {{ parent() }}

        {# @todo Why all this script stuff isn't already in its own file? #}

        <script>
            $(function () {

                function unique(list) {
                    var result = [];
                    $.each(list, function (i, e) {
                        if ($.inArray(e, result) === -1)
                            result.push(e);
                    });
                    return result;
                }

                function log(message) {
                    $("<div>").text(message).prependTo("#log");
                    $("#log").scrollTop(0);
                }

                $("#search_date").datepicker({dateFormat: "yy-mm-dd"}); // RFC 3339/ISO 8601

                $("#search_departure").autocomplete({
                    source: "{{ path('lamk_private_pilot_available_departures') }}"
                });

                $("#search_destination").autocomplete({
                    source: "{{ path('lamk_private_pilot_available_destinations') }}"
                });
            });
        </script>

    {% endblock %}

{% endblock %}

