{% extends '::searchTemplate.html.twig' %}

{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li style="margin-left:5%; width: 90%;">
            {{ form_start(form, {'attr': {'role': 'form' }, 'action': path('lamk_private_pilot_search'), 'method': 'POST'})}}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.departure, 'Departure') }}
                {{ form_errors(form.departure) }}
                {{ form_widget(form.departure, {'attr': {'class': 'form-control', 'placeholder': 'Departure'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.destination, 'Destination') }}
                {{ form_errors(form.destination) }}
                {{ form_widget(form.destination, {'attr': {'class': 'form-control', 'placeholder': 'Destination'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.passengers, 'Passengers') }}
                {{ form_errors(form.passengers) }}
                {{ form_widget(form.passengers, {'attr': {'class': 'form-control', 'placeholder': 'Passengers'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.date, 'Date') }}
                {{ form_errors(form.date) }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Date'}}) }}
            </div>

            {{ form_widget(form.search, {'attr': {'class': 'btn btn-default'}}) }}

            {{ form_end(form) }}

        </li>
    </ul>

{% endblock %}

{% block container %}
    <h1 class="page-header">Flight Routes</h1>
    <h3 class="sub-header">Search found {{ count }} matching flight routes.</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for searchresult in searchresults if searchresult.active %}
                    <tr>
                        <td>{{ searchresult.departureLocation }}</td>
                        <td>{{ searchresult.destinationLocation }}</td>
                        <td>{{ searchresult.description | striptags | truncate(60) }}</td>
                        <td><span style="font-size: 15px;font-weight: normal;">{{ searchresult.price }}&nbsp;€</span></td>
                        <td>
                            <a class="btn btn-default" href="{{ path('lamk_private_pilot_flight_show', { 'id': searchresult.id }) }}" role="button">View Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% block javascripts %}

        {{ parent() }}

        <script>
            $(function () {

                function unique(list) {
                    var result = [];
                    $.each(list, function (i, e) {
                        if ($.inArray(e, result) === -1)
                            result.push(e);
                    });
                    return result;
                }

                function log(message) {
                    $("<div>").text(message).prependTo("#log");
                    $("#log").scrollTop(0);
                }

                $("#search_date").datepicker({dateFormat: "yy-mm-dd"}); // RFC 3339/ISO 8601

                $("#search_departure").autocomplete({
                    source: "{{ path('lamk_private_pilot_available_departures') }}"
                });

                $("#search_destination").autocomplete({
                    source: "{{ path('lamk_private_pilot_available_destinations') }}"
                });
            });
        </script>

    {% endblock %}

{% endblock %}
