{% extends '::defaultTemplate.html.twig' %}

{% block navbarprofile %}
    <li class="active"><a href="http://privatepilot.localhost/app_dev.php/name/WriteYourNameInAddressBar">Profile</a></li>
    {% endblock %}

{% block startertemplate %}

    <h1>Welcome {{ name }}!</h1>

    <h2>Pakollinen munkkilatina</h2>

    <p class="lead">Mieleni minun tekevi, aivoni ajattelevi lähteäni laulamahan, saa'ani sanelemahan, sukuvirttä suoltamahan, lajivirttä laulamahan. Sanat suussani sulavat, puhe'et putoelevat, kielelleni kerkiävät, hampahilleni hajoovat.</p>

    <p>Veli kulta, veikkoseni, kaunis kasvinkumppalini! Lähe nyt kanssa laulamahan, saa kera sanelemahan yhtehen yhyttyämme, kahta'alta käytyämme! Harvoin yhtehen yhymme, saamme toinen toisihimme näillä raukoilla rajoilla, poloisilla Pohjan mailla.</p>

{% endblock %}