{# index.html.twig #}

{% extends '::adminTemplate.html.twig' %}

{% block container %}

    <h2 class="sub-header">Airports</h2>

    <div class="btn-toolbar" role="toolbar">
        <a class="btn btn-default" href="{{ path('lamk_private_pilot_admin_airport_add') }}" role="button">Create new airport</a>
    </div>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Airports</h3>
        </div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>State</th>
                <th>Country</th>
                <th>Description</th>
            </tr>
            {% for airport in airports %}
                <tr>
                    <td><a href="{{ path('lamk_private_pilot_admin_airport_edit', {'id': airport.id }) }}">{{ airport.id }}</a></td>
                    <td>{{ airport.name }}</td>
                    <td>{{ airport.type }}</td>
                    <td>{{ airport.state }}</td>
                    <td>{{ airport.country }}</td>
                    <td>
                        {% if airport.description is null %}
                            No description available
                        {% else %}
                            {{ airport.description }}
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="pull-right">
        <ul class="pagination">

            <li><a href="{{ path('lamk_private_pilot_admin_airport', {'page': previouspage }) }}">&laquo;</a></li>

            {% for link in links %}

                <li><a href="{{ path('lamk_private_pilot_admin_airport', {'page': link }) }}">{{ link }}</a></li>

            {% endfor %}

            <li><a href="{{ path('lamk_private_pilot_admin_airport', {'page': nextpage }) }}">&raquo;</a></li>

        </ul>
    </div>

{% endblock %}
